{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% if content %}
            <h1 class="h2">{{ title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <a href="{% url 'edit_page' title %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                </div>
            </div>
    </div>
    <div class="row ms-1">
        <div class="list-group col-sm-9">
            {{ content|safe }}
        </div>
    </div>
    {% else %}
        <p>This page does not exist.</p>
    {% endif %}
{% endblock %}
